body {
	font-family: 'Poppins', sans-serif;
	border: 1px solid #000;
    height: 100vh;
    text-align: center;
}
h1 {
	font-weight: 300;
}
div {
  	--checkerboard-spacing: 10;
    --checkerboard-size: 32;
    background-image: paint(checkerboard);
 }