body {
	font-family: 'Poppins', sans-serif;
	border: 1px solid #000;
    height: 100vh;
    text-align: center;
}
h1:after {
	content: "";
	font-weight: 300;
	background-image: paint(underlines);
	width: 75%;
	margin: 0 auto;
}
.checkBoxes {
  	--checkerboard-spacing: 10;
    --checkerboard-size: 32;
    background-image: paint(checkerboard);
    height: 500px;
    width: 500px;
 }
 #screen {
  box-sizing: border-box;
  margin: 10px; padding: 0px;
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  background-color: #111;
  background-image: paint(awesomePattern);
}
.bars {
  height: 700px;
  max-height: 50vh;
  --bar-map: 50 #666, 70 salmon, 35 #9ee7a1, 15 #fff, 25 orange;
  --bar-gap: 20;
  background: #111 paint(bar-chart);
}